<!-- *
 * File name:    footer.ejs **   views -> compontent  
 * Student name: Krishna Ramlakhan
 * Student ID:   818583171 
 * Date:         March 1st, 2023
 * App name: Book List
 * -->
<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022</h5>
    </div>
</nav>