<!-- *
 * File name:    error.ejs **   views -> content  
 * Student name: Krishna Ramlakhan
 * Student ID:   818583171 
 * Date:         March 1st, 2023
 * App name: Book List
 * -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>