<!-- *
 * File name:    home.ejs **   views -> content  
 * Student name: Krishna Ramlakhan
 * Student ID:   818583171 
 * Date:         March 1st, 2023
 * App name: Book List
 * -->
<div class="container">
    <h1><%= title %></h1>
</div>